.userContainer {
    background-color: #ffffff;
    margin: 20px;
    margin-left: 0;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    height: max-content;
}

.users {
    display: flex;
    margin-left: 40px;
}

.users div {
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
