.navbarContainer {
    background-color: white;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    background-color: rgb(233, 233, 233);
    min-width: 300px;
    height: 30px;
    border-radius: 4px;
    color: rgb(128, 128, 128);
    padding: 0 10px;
    border: none;
}
